.points-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(39, 39, 39);
    text-transform: uppercase;

}


.cards-board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax( 125px, 1fr));
    margin: auto;
    margin-top: 2rem;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 900px;
    gap: 1rem;
}



.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 125px;
    height: 160px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    &__back{
    height: 100%;
    width: 100%;
    color: black;
    font-size: 2rem;
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(49deg, rgba(0, 0, 0, 0.04) 50%, transparent 50%), linear-gradient(var(--red) 48%, var(--black) 48%, var(--black) 51%, var(--white) 51%);
    transform: translateZ(0);
    backface-visibility: hidden;
    

    &::before{
        content: '?';
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 55px;
        height: 55px;
        font-size: 2.2rem;
        border-radius: 50%;
        border: 4px solid black;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }}

    &__front{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    pointer-events: none;
    z-index: -1
    }

    &--show {
        transform: rotateY(180deg);
      }
}
